.BlackHeader {
    background: #2B2B2B;
    border-radius: 0px 0px 16px 16px;
}

.WhiteHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1.5px solid #B9B9B9;
    background: #F5F5F5;
}